.registrationContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--light-blue-fade);
    padding: 20px;
    gap: 10px;
}

.headerStyles {
    background: var(--accent-color); 
    color: var(--elevate-blue); 
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: auto;
}

.registrationButton {
    background-color:  var(--elevate-blue);
    border-color:  var(--elevate-blue);
    border-radius: 12px;
    box-shadow: 0px 0px 5px black;
}

.whatToExpectContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 95%;
    margin: auto;
}

.whatToExpectInformationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    margin: 30px;
    padding: 20px;
    border: .2rem solid  var(--elevate-blue);
    background-color: var(--light-blue-fade);
}

.whatToExpectInformationContainer p {
    width: 50%;
}

.whatToExpectInformationContainer ul {
    list-style-type: none;
}

.whatToExpectInformationContainer span {
    color:  var(--elevate-blue);
}

@media (max-width: 1150px) {
    .whatToExpectInformationContainer {
        flex-direction: column;
        padding: 5px;
        margin: 5px;
    }
    .whatToExpectInformationContainer p {
        width: 100%;
    }
}

.topicContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
}

@media (max-width: 1150px) {
    .topicContainer {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.topicBubble {
    color: var(--white-ish);
    background-color: var(--elevate-blue);
    border-radius: 12px;
    align-content: center;
    font-size: 14pt;
    box-shadow: 0px 0px 4px rgb(72, 72, 72);
    padding: 10px;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}

.accordion {
    width: 70%;
    text-align: start;
}
