.pageBody {
    height: 100vh;
    background-color: var(--white-ish);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.financialMessage {
    width: 70%;
    text-align: center; 
}

.financialMessage h1 {
    color: var(--elevate-blue);
}

.financialDocRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.financialDocColumn a {
    color: var(--light-blue);
    text-decoration: none;
}

.financialDocColumn a:hover {
    color: var(--elevate-blue);
    transition: 0.25s;
    text-decoration: none;
}
