.foundersPhoto {
    height: auto;
    width: 100%;
    clip-path: circle();
}

.shadowWrap {
    filter: drop-shadow(0px 0px 5px black);
}

.missionText {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    gap: 5rem;

    &:FoundersIntro {
        flex-direction: row;
    }

    &:MessageText {
        flex-direction: row;
    }
}

@media (max-width: 700px) {
    .missionText {
        grid-template-columns: repeat(1, 1fr);
    }
}
