.footerContainer {
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    position: relative;
    bottom: 0;
}


.elevateLogo {
    height: 100px;
}

.credits {
    color: var(--credits-color)
}