.elevateLogo {
    height: 80px;
    padding-left: 10px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-blue);
    padding: 4px;
    box-shadow: 0px 0px 20px black;
}