.elevateLogo {
    height: 110px;
    padding-left: 10px;
}

@media (max-width: 450px) {
    .elevateLogo {
        height: 80px;
        padding-left: 5px;
    }
}

.verticalBar {
    height: 70px;
    width: 1.5px;
    background-color: black;
    gap: 5px;
}


.headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 20, 137, 1.0);
    padding: 4px;
    box-shadow: 0px 0px 20px black;
}