.linkContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
}

@media (max-width: 450px) {
    .linkContainer {
        font-size: 10pt;
        padding-right: 5px;
    }
}

