.linkContainer, .linkContainerFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

@media (max-width: 450px) {
    .linkContainer, .linkContainerFooter {
        justify-content: center;
        gap: 10px;
    }
}

.linkContainer a {
    color: var(--white-ish);
    transition: 0.25s;
    text-decoration: none;
}

.linkContainerFooter a {
    color: var(--elevate-blue);
    transition: 0.25s;
    text-decoration: none;
}

.linkContainer a:hover,
.linkContainerFooter a:hover {
    color: var(--light-blue);
    cursor: pointer;
}

@media (max-width: 450px) {
    .linkContainer {
        font-size: 10pt;
        padding-right: 5px;
    }
}

