.testimonialCard {
    margin: auto;
    color: rgb(38, 61, 192);
    background-color: white;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
}

.testimonialContainer {
    margin: auto;
    padding: 15px;
    width: 70vw;
    border-radius: 12px;
}