.articlePageContainer {
    min-height: 80vh;
}


.articlePageContainer h1{
    margin: 1rem;
    font-weight: bold;
}

.articleBoxContainer {
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.articleGenContainer {
    text-decoration: none;
}

.articleGenContainer h1 {
    color: var(--elevate-blue);
    text-align: center;
    margin: 2rem;
    margin-top: 0;
}

.backArrowDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: var(--elevate-blue);
    text-align: start;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
    width: fit-content;
}

.backArrowDiv a {
    color: var(--elevate-blue);
    transition: 0.25s;
}

.backArrowDiv:hover {
    color: var(--light-blue);
    transition: 0.5s;
    cursor: pointer;
}

.imgWithCaption {
    margin: auto;
    color: var(--article-quote);
}

.imgWithCaption img {
    display: block;
    margin: 2rem auto; 
    border-radius: 2rem;
    width: 70vw;
    margin-bottom: 0.5rem;
    border: .2rem solid  var(--light-blue);
}

.markdownContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.markdown {
    text-align: start;
    margin: 1rem;
    width: 90%;
}

.markdown h3 {
    color: var(--light-blue);
    text-align: start;
}

blockquote { 
    color: var(--article-quote);
    margin-left: 3rem;
    padding: 1rem;
    border-left: 0.35em var(--elevate-blue) solid;
}

.endImageGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    gap: 10px;
}

.endImageGroup img {
    width: 400px;
    border-radius: 2rem;
    border: .2rem solid  var(--light-blue);
}

.articlePreviewBoxContainer {
    height: 350px;
    width: 400px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.articlePreviewBoxContainer:hover {
    background-color: var(--light-blue);
    transition: 0.5s;
}

.articlePreviewBoxContainer img {
    width: 100%; /* Desired width */
    height: 70%; /* Desired height */
    overflow: hidden; /* Hide overflow to crop the image */
}

.cloudyImage {
    display: block;
    transition: filter 0.5s ease-in-out;
    height: auto; /* Adjust to your needs */
    filter: blur(2px); /* Adjust the blur amount */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articlePreviewBoxContainer:hover .cloudyImage {
    filter: blur(0);
}

.articlePreviewBoxContainer h4 {
    font-weight: 300;
    margin: 1rem;
    color: white;
    text-decoration: none;
}

.articlePreviewBoxContainer h4:hover {
    font-weight: 300;
    margin: 1rem;
    color: var(--elevate-blue);
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.articleTextBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    .endImageGroup img {
        width: 300px;
    }

    .imgWithCaption img {
        width: 300px;
    }

    blockquote { 
        margin-left: 1.5rem;
    }

    .articlePreviewBoxContainer {
        margin: 1rem;
    }

    .articlePreviewBoxContainer h4{
        font-size: 1rem;
    }
}