:root {
  --elevate-blue: rgb(0, 20, 137);
  --elevate-blue-fade: rgba(0, 20, 137, 0.90);
  --light-blue: rgb(5, 142, 217);
  --light-blue-fade: rgba(5, 142, 217, 0.4);
  --white-ish: rgb(230, 230, 235);
  --accent-color: rgb(127, 127, 131);
  --accent-color-fade: rgba(127, 127, 131, 0.4);
  --text-color: rgb(7, 17, 8);
}

body {
  background-color: var(--white-ish);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
