.bodyHomePage {
    background: linear-gradient(to bottom, white, #e0e2e5,#91baff, rgba(25, 49, 187, 0.5));
}

.messageText {
    color: rgb(38, 61, 192);
    margin-top: 5px;
}

.elevateAnnouncement {
    width: 65vw;
}