.bodyHomePage {
    position: relative;
    overflow: hidden;
    background: transparent;
    z-index: 1;
}

.bodyHomePage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}

.bodyHomePage .animate {
    animation: slideDown 1s ease forwards;
    animation-delay: 0.3s;
    background-color: var(--white-ish);
}

.internshipContainer {
    display: inline;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--light-blue-fade);
    color: var(--elevate-blue);
    padding: 20px;
    gap: 10px;
    width: 100%;
}

.campInfoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
}

.registrationButton {
    background-color:  var(--elevate-blue);
    border-color:  var(--elevate-blue);
    border-radius: 12px;
    box-shadow: 0px 0px 5px black;
}

.messageText {
    width: 80%
}

.elevateAnnouncement {
    width: 90%;
    box-shadow: 0 0 5px black;
}

.saveTheDateContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 0px;
}

#insta {
    box-shadow: 0px 0px 5px black;
}